AI MOOC： **www.ai-xlab.com**

In [1]:
import pandas as pd
import numpy as np

In [3]:
dates = pd.date_range('20170101',periods=6)
df1 = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
df1

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23

In [4]:
df1['A']#将DataFrame的列获取为一个Series

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

In [5]:
df1.A

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

In [6]:
df1[0:2]#去0-1行

            A  B  C  D
2017-01-01  0  1  2  3
2017-01-02  4  5  6  7

In [7]:
df1['20170102':'20170104']

             A   B   C   D
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15

In [8]:
#通过标签选择数据
df1.loc['20170102']

A    4
B    5
C    6
D    7
Name: 2017-01-02 00:00:00, dtype: int32

In [9]:
df1.loc['20170101',['A','C']]

A    0
C    2
Name: 2017-01-01 00:00:00, dtype: int32

In [10]:
df1.loc[:,['A','B']]

             A   B
2017-01-01   0   1
2017-01-02   4   5
2017-01-03   8   9
2017-01-04  12  13
2017-01-05  16  17
2017-01-06  20  21

In [11]:
#通过位置选择数据
df1.iloc[2] #第二行

A     8
B     9
C    10
D    11
Name: 2017-01-03 00:00:00, dtype: int32

In [12]:
df1.iloc[1:3,2:4]

             C   D
2017-01-02   6   7
2017-01-03  10  11

In [13]:
df1.iloc[[1,2,4],[1,3]]

             B   D
2017-01-02   5   7
2017-01-03   9  11
2017-01-05  17  19

In [14]:
#混合标签位置选择
df1.ix[2:4,['A','C']]

             A   C
2017-01-03   8  10
2017-01-04  12  14

In [15]:
df1.ix['20170102':'20170104',2:4]

             C   D
2017-01-02   6   7
2017-01-03  10  11
2017-01-04  14  15

In [17]:
df1.A

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

In [18]:
df1.A > 6

2017-01-01    False
2017-01-02    False
2017-01-03     True
2017-01-04     True
2017-01-05     True
2017-01-06     True
Freq: D, Name: A, dtype: bool

In [19]:
df1[df1.A>6]

             A   B   C   D
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23